.collections {
    margin-top: 140px;
  }
  
  .collections .item img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .collections .item .down-content {
    background-color: #282b2f;
    border: 1px solid #404245;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
  }
  
  .collections .item .down-content h4 {
    font-size: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .collections .item {
    padding-bottom: 60px;
  }
  
  .collections .item span {
    color: #fff;
    display: inline-block;
    width: 48%;
    font-size: 15px;
  }
  
  .collections .item span strong {
    font-size: 20px;
  }
  
  .collections .item span.category {
    text-align: right;
  }
  
  .collections .item .main-button a {
    width: 100%;
    text-align: center;
  }
  
  .collections .item .main-button {
    margin-top: 20px;
    margin-bottom: -60px;
  }
  
  .collections .item .main-button a:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #7453fc;
  }
  
  .collections .owl-nav .owl-prev {
    position: absolute;
    left: -23px;
  }
  
  .collections .owl-nav .owl-next {
    position: absolute;
    right: -23px;
  }
  
  .collections .owl-nav .owl-prev span,
  .collections .owl-nav .owl-next span  {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    display: inline-block;
    color: #7453fc;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
  }
  
  .collections .owl-nav .owl-prev span:hover,
  .collections .owl-nav .owl-next span:hover {
    opacity: 1;
  }